/*Indholdsfortegnelse*/

/******            *******/
/******   Menu     *******/
/******   Footer   *******/
/******            *******/
/******            *******/
/******            *******/
/******            *******/

*,
html * {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.header_billede {
    width: 100vw;
    height: 90px;
    background-color: aqua;
}


/**** HEADER ****/
header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100px;
    background-color: beige;
}

.logo {
    background-image: url();
    background-size: cover;
    background-color: azure;
    margin: 10px 10px;
    width: 200px;
    height: 70px;
}


/** NAV **/
.hidden {
    display: none;
}

#menuknap {
    font-size: 2.5rem;
    position: absolute;
    right: 35px;
    top: 20px;
    line-height: 1.5;
    color: white;
    cursor: pointer;
}

#menuknap.hidden {
    color: white;
}


#menu {
    position: absolute;
    padding: 0px 0px;
    list-style-type: none;
    right: 0;
    margin: 0;
    background-color: #696c6c;
    height: 100vh;
    width: 100vw;
}



header li {
    width: 100%;
    margin: 20px;
}

header li:first-child {
    margin-top: 120px;
}

header li a {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    line-height: 2.4;
    margin-left: 50px;
    color: #ffffff;
}

header li a:hover {
    color: rgba(255, 132, 77, 0.24);
}



/******   Footer   *******/

.instagram_wrapper {
    background-color: #aaa8cc;
    text-align: center;
    padding: 10px 0 0;
    margin: auto;

}

.insta_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.insta_sprite {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.insta_billede {
    height: 100px;
    width: 100px;
    background-color: antiquewhite;
    margin: 10px;
}

.footer_signatur {
    width: 150px;
    height: 80px;
    background-color: antiquewhite;
    margin: auto;
}

.footer {
    background-color: #43afb7;
    width: 100vw;
    padding: 20px;
    color: white;
}

footer p {
    margin: 0 0 5px 0;
}

footer a {
    color: white;
}

.footer_4 {
    display: flex;
    width: 50px;
}

.footer_3:hover {
    transform: scale(1.08);
    transition: 0.5s;
}

.SoMe-ikon {
    padding: 5px 20px;
}

.instagram {}


/******   Media   ******/

@media only screen and (min-width: 750px) {
    header {
        position: sticky;

    }

    header li a {
        color: #ffffff;
        font-size: 1rem;
        margin-left: 35px;

    }

    header li a:hover {
        color: #92a7bc;
    }

    header li {
        display: inline-block;
        width: auto;
        margin: 0;
    }

    header li:first-child {
        margin-top: 40px;
    }

    header ul li:last-child {
        margin-right: 20px;
    }


    #menuknap {
        display: none;
    }

    #menu.hidden {
        display: inherit;
    }

    #menu {
        text-align: right;
        height: 100px;
        width: 70%;
    }

    .insta_billede {
        height: 150px;
        width: 150px;
    }

    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align:
    }

    .footer_col {
        flex-basis: 150px;
        flex-grow: 1;
        text-align: center;


    }




}
